a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7f4e00a3 a { text-decoration: none; }
#menu_7f4e00a3_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.392157); }
#menu_7f4e00a3_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_7f4e00a3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7f4e00a3_entry:hover { background-color: #494949; color: #FFFFFF !important; }
#menu_7f4e00a3_entry:hover span { color:#FFFFFF !important; }
		.menu_7f4e00a3_mainMenuEntry { text-align: center; }
		.menu_7f4e00a3_mainMenuEntry:hover {	background-color:#494949; }
		.menu_7f4e00a3_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7f4e00a3 .mobileEntry { display: none; } 
		#menu_7f4e00a3 .normalEntry { display: block; } 
		#menu_7f4e00a3_menualignmentwrapper{ width:522px; left: calc(100% - 522px);  } 
		@media only screen and (max-width:650px) { 
			#menu_7f4e00a3 .mobileEntry { display: block; } 
			#menu_7f4e00a3 .normalEntry { display: none; } 
			#menu_7f4e00a3_menualignmentwrapper { width:37px; left: calc(100% - 37px);  } 
		}
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_29ee7549 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#FFFFFF;  }
#container_29ee7549_padding { margin: 10px; display: block;  }
#container_23dd7d16 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:64px; background:none;  }
#container_23dd7d16_padding { margin: 10px; display: block;  }
#img_4403b2e { vertical-align: bottom; position:relative; display: inline-block; width:24%; background:none; height:auto;  }
#container_5792ad83 { vertical-align: top; position:relative; display: inline-block; width:67%; min-height:73px; background:none;  }
#container_5792ad83_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:right; }
#menu_7f4e00a3 { vertical-align: bottom; position:relative; display: inline-block; width:663px; height:38px; text-align:left; background:none;  }
#menu_7f4e00a3_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:87px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:87px;  }
.menustyle4 { position:absolute; width:87px; height:38px; left:174px;  }
.menustyle5 { position:absolute; width:87px; height:38px; left:261px;  }
.menustyle6 { position:absolute; width:87px; height:38px; left:348px;  }
.menustyle7 { position:absolute; width:87px; height:38px; left:435px;  }
#container_22e4a421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:414px; background:none;  }
#container_22e4a421_padding { margin: 10px; display: block;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:4904px; background-color:#FFFFFF;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
#container_696dd514 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:647px; background:none;  }
#container_696dd514_padding { margin: 10px; display: block;  }
#img_1d02c053 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_3fd19a42 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_552d7807 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_597592f2 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_3148d828 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_4cfbf672 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_289b6f13 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
#img_629e3c79 { vertical-align: bottom; position:relative; display: inline-block; width:25%; background:none; height:auto;  }
.textstyle5 { text-align:center; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#img_79b3ee92 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
.textstyle7 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#img_6df6c821 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#img_5f4f2390 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#img_2fd3e3c3 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#img_6272362e { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#img_5828618c { vertical-align: bottom; position:relative; display: inline-block; margin:50px 0px 0px 0px;width:100%; background:none; height:auto;  }
#img_731bdc21 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
#img_68f535dd { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none; height:auto;  }
@media only screen and (max-width: 650px)
{
		#menu_7f4e00a3 { width:150px;  }
}
